Package: fun.tylerd3v.customsiribg
Name: CustomSiriBG
Depends: mobilesubstrate, firmware (>=11.0), com.muirey03.libimagepicker
Version: 2.0
Architecture: iphoneos-arm
Description: Use any image as a background for Siri!
Maintainer: TylerD3V
Author: TylerD3V
Section: Tweaks
